<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Secretary</title>
    <link rel="stylesheet" th:href="@{/css/add.css}" href="css/table.css" type="text/css"/>
</head>
<body>
<div class="form-style-5">
    <form th:action="@{/admin/secretary}" th:method="post">
        <fieldset>
            <legend><span class="number">1</span> Secretary Info</legend>
            <input type="text" name="name" placeholder="Name *" required="required"/>
            <input type="text" name="PNC" placeholder="PNC *" required="required" pattern="[12][0-9]{12}"/>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span>User Info </legend>
            <input type="text" name="username" placeholder="Username *" required="required"/>
            <input type="text" name="password" placeholder="Password *" required="required"/>
            <input type="submit" value="Apply" />
        </fieldset>
    </form>
</div>
<script src="js/edit.js"></script>
</body>
</html>