<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/home.css}" href="css/layout.css" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/menu.css}" href="css/menu.css" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/component.css}" type="text/css" href="css/component.css" />
    <link rel="stylesheet" th:href="@{/css/default.css}" type="text/css" href="css/default.css" />
</head>
<body>
<div class="container">
    <div class="content">

        <ul id="nav">
            <li><a th:href="@{/home}" class="current">Home</a></li>
            <li sec:authorize="hasRole('ROLE_SECRETARY')"><a th:href="@{/secretary/add}">Add patient</a></li>
            <li sec:authorize="hasRole('ROLE_SECRETARY')"><a th:href="@{/secretary/patient}">Add consultation</a></li>
            <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/add}">Add user</a></li>
        </ul>

    </div>

    <div class="column">
        <div id="sb-search" class="sb-search">
            <form th:action="@{/home}" th:method="post">
                <input class="sb-search-input" placeholder="Search..." type="text" value="" name="search" id="search"/>
                <input class="sb-search-submit" type="submit" value=""/>
                <span class="sb-icon-search"></span>
                <select name="option">
                    <option value="patient">Patient</option>
                    <option value="consult">Consultation</option>
                    <option sec:authorize="hasRole('ROLE_ADMIN')" value="user">User</option>
                </select>
            </form>
        </div>
    </div>
</div>

<footer>
    <h2>Clinic</h2>
    <a th:href="@{/logout}" class="stuts">Everything done? <span>Logout</span></a>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</footer>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/uisearch.js"></script>
<script src="js/poll.js"></script>
<script>
    new UISearch( document.getElementById( 'sb-search' ) );
</script>
</body>
</html>