<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Patient</title>
    <link rel="stylesheet" th:href="@{/css/add.css}" href="css/table.css" type="text/css"/>
</head>
<body>
<div class="form-style-5">
    <form th:action="@{/secretary/patient}" th:method="post">
        <fieldset>
            <legend><span class="number">1</span>Patient Info</legend>
            <input type="text" name="pnc" placeholder="Patient PNC *" required="required"  pattern="[12][0-9]{12}"/>
            <input type="submit" value="Next" />
        </fieldset>
    </form>
</div>
<script src="js/edit.js"></script>
</body>
</html>